*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    margin-top: 30px;
    text-align: right;
    z-index: 1;
}

.container nav ul li{
    display: inline-block;

}

.container nav ul li a{
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.box{
    width: 100%;
    height: 100vh;
    background-color: red;
    position: relative;
    color: yellow;

}

.contenuto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contenuto img{
    width: 100%;
}

.contenuto span{
    font-size: 55px;
    font-weight:700;
    text-transform: uppercase;
}



.verde{
    background-color: green;
}

.giallo{
    background-color: yellow;
    color: green;
}