*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

header{
    position: fixed;
    width: 100%;
    margin-top: 30px;
    text-align: right;
}

.container nav ul li{
    display: inline-block;

}

.container nav ul li a{
    display: inline-block;
    margin-right: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    
}

.box{
    width: 100%;
    height: 100vh;
    background-color: red

}

.verde{
    background-color: green;
}

.giallo{
    background-color: yellow;
}